Consumo JAVA en C#/ConsumirServicio/Service References/ServicioJava/Servidor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Paquete/" targetNamespace="http://Paquete/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="operation" type="tns:operation" />
  <xs:element name="operationResponse" type="tns:operationResponse" />
  <xs:complexType name="operation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>